<?xml version="1.0"?>
<config>
    <modules>
        <Padoo_Deleteorder>
            <version>1.0.0</version>
        </Padoo_Deleteorder>
    </modules>
    <frontend>
        <routers>
            <deleteorder>
                <use>standard</use>
                <args>
                    <module>Padoo_Deleteorder</module>
                    <frontName>deleteorder</frontName>
                </args>
            </deleteorder>
        </routers>
        <layout>
            <updates>
                <deleteorder>
                    <file>deleteorder.xml</file>
                </deleteorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <padoo_deleteorder before="Mage_Adminhtml">Padoo_Deleteorder_Adminhtml</padoo_deleteorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Padoo_Deleteorder>
							<title>Deleteorder Module</title>
							<sort_order>10</sort_order>
						</Padoo_Deleteorder>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<padoo_deleteorder>
					<file>deleteorder.xml</file>
				</padoo_deleteorder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <deleteorder>
                <class>Padoo_Deleteorder_Model</class>
                <resourceModel>deleteorder_mysql4</resourceModel>
            </deleteorder>
            <deleteorder_mysql4>
                <class>Padoo_Deleteorder_Model_Mysql4</class>
                <entities>
                    <deleteorder>
                        <table>deleteorder</table>
                    </deleteorder>
                </entities>
            </deleteorder_mysql4>
        </models>
        <resources>
            <deleteorder_setup>
                <setup>
                    <module>Padoo_Deleteorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deleteorder_setup>
            <deleteorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deleteorder_write>
            <deleteorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deleteorder_read>
        </resources>
        <blocks>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Padoo_Deleteorder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>		 
				<rewrite>
					<sales_order_view>Padoo_Deleteorder_Block_Adminhtml_Sales_Order_View</sales_order_view>
				</rewrite>
            </adminhtml>
            <deleteorder>
                <class>Padoo_Deleteorder_Block</class>
            </deleteorder>
        </blocks>
        <helpers>
            <padoo_deleteorder>
                <class>Padoo_Deleteorder_Helper</class>
            </padoo_deleteorder>
        </helpers>
    </global>
	<default>
        <deleteorder>
			<general>
                <enabled>1</enabled>
			</general>
        </deleteorder>
    </default>
</config>